# folders
inst/doc/**
.Rproj.user/**
.git/**

# Ignore docs files
_gh_pages
_site
.ruby-version
Gemfile.lock
.Rhistory
notes.txt
gis.txt
README.Rmd
.Rbuildignore

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.tex
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.Rproj.user
